---
---

@import 'main';

/* append your custom style below */

/* Remove underline and blue color for all links */
.temp-link {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s, font-size 0.2s;
  margin-left: 20px;
  border-bottom: 0px solid var(--link-underline-color);
  position: relative;

}
/* .post-tail-wrapper .post-meta a:not(:hover), .post-content a:not(.img-link){
  border-bottom: 0px solid var(--link-underline-color);
} */

/* Add hover effect: enlarge and increase spacing */
.temp-link:hover {
  text-decoration: none;
  color: inherit;
  transform: scale(1.05); /* Increase size on hover */
  margin-right: 5px; /* Add spacing to the right on hover */
  margin-left: 5px; /* Add spacing to the left on hover */
  margin-left: 20px;
  border-bottom: none; 
}

/* Enlarge the temps on hover */
.temp-link:hover .temp {
  text-decoration: none;
  transform: scale(1.2); /* Increase the size of the temps on hover */
}
.skill-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-list-item {
  font-size: 20px;
  transition: transform 0.2s;
  margin-right: 5px;
  cursor: pointer;
}

.skill-list-item:hover {
  transform: scale(1.2);
}
